table {
  max-width: 100%;
  text-align: left;
  position: relative;
  border-collapse: collapse;
}

th, td {
  padding: 0.75rem;
}

thead tr th {
  position: sticky;
  background: white;
  text-align: center;
  top: 0;
}

tbody tr:nth-child(odd) {
  background-color: lightsteelblue;
}
